<%- include('header') -%>
  <body>
    <%- include('tag-manager') -%>
    <%- include('nav') -%>

    <main>
      <!-- Best Features Start -->
      <section class="best-features-area inner-padding">
        <div class="container">
          <div class="row justify-content-end">
            <div class="col-xl-8 col-lg-10">
              <!-- Section Tittle -->
              <div class="row">
                <div class="col-lg-10 col-md-10">
                  <div class="section-tittle">
                    <h2>Some of the best features Of Our App!</h2>
                  </div>
                </div>
              </div>
              <!-- Section caption -->
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6">
                  <div class="single-features mb-70">
                    <div class="features-icon">
                      <span class="flaticon-support"></span>
                    </div>
                    <div class="features-caption">
                      <h3>Easy to Costomize</h3>
                      <p>
                        Aorem psum olorsit amet ectetur adipiscing elit, sed
                        dov.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6">
                  <div class="single-features mb-70">
                    <div class="features-icon">
                      <span class="flaticon-support"></span>
                    </div>
                    <div class="features-caption">
                      <h3>Extreme Security</h3>
                      <p>
                        Aorem psum olorsit amet ectetur adipiscing elit, sed
                        dov.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6">
                  <div class="single-features mb-70">
                    <div class="features-icon">
                      <span class="flaticon-support"></span>
                    </div>
                    <div class="features-caption">
                      <h3>Customer Support</h3>
                      <p>
                        Aorem psum olorsit amet ectetur adipiscing elit, sed
                        dov.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6">
                  <div class="single-features mb-70">
                    <div class="features-icon">
                      <span class="flaticon-support"></span>
                    </div>
                    <div class="features-caption">
                      <h3>Creative Design</h3>
                      <p>
                        Aorem psum olorsit amet ectetur adipiscing elit, sed
                        dov.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Shpe -->
        <div class="features-shpae features-shpae2 d-none d-lg-block">
          <img src="/static/assets/img/shape/best-features.png" alt="" />
        </div>
      </section>
      <!-- Best Features End -->
      <!-- Our Customer Start -->
      <div class="our-customer pt-50 pb-100">
        <div class="container-fluid">
          <div class="our-customer-wrapper">
            <!-- Section Tittle -->
            <div class="row d-flex justify-content-center">
              <div class="col-xl-8">
                <div class="section-tittle text-center">
                  <h2>
                    What Our Customers<br />
                    Have to Say
                  </h2>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="customar-active dot-style d-flex dot-style">
                  <div class="single-customer mb-100">
                    <div class="what-img">
                      <img src="/static/assets/img/shape/man1.png" alt="" />
                    </div>
                    <div class="what-cap">
                      <h4>
                        <a href="#">Welcome To The Best Model Winner Contest</a>
                      </h4>
                      <p>
                        Utenim ad minim veniam quisnostrud exercitation
                        ullamcolabor nisiut aliquip ex ea commodo consequat duis
                        aute irure dolor in represse.
                      </p>
                    </div>
                  </div>

                  <div class="single-customer mb-100">
                    <div class="what-img">
                      <img src="/static/assets/img/shape/man2.png" alt="" />
                    </div>
                    <div class="what-cap">
                      <h4>
                        <a href="#">Welcome To The Best Model Winner Contest</a>
                      </h4>
                      <p>
                        Utenim ad minim veniam quisnostrud exercitation
                        ullamcolabor nisiut aliquip ex ea commodo consequat duis
                        aute irure dolor in represse.
                      </p>
                    </div>
                  </div>

                  <div class="single-customer mb-100">
                    <div class="what-img">
                      <img src="/static/assets/img/shape/man3.png" alt="" />
                    </div>
                    <div class="what-cap">
                      <h4>
                        <a href="#">Welcome To The Best Model Winner Contest</a>
                      </h4>
                      <p>
                        Utenim ad minim veniam quisnostrud exercitation
                        ullamcolabor nisiut aliquip ex ea commodo consequat duis
                        aute irure dolor in represse.
                      </p>
                    </div>
                  </div>

                  <div class="single-customer mb-100">
                    <div class="what-img">
                      <img src="/static/assets/img/shape/man2.png" alt="" />
                    </div>
                    <div class="what-cap">
                      <h4>
                        <a href="#">Welcome To The Best Model Winner Contest</a>
                      </h4>
                      <p>
                        Utenim ad minim veniam quisnostrud exercitation
                        ullamcolabor nisiut aliquip ex ea commodo consequat duis
                        aute irure dolor in represse.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Our Customer End -->

      <!-- Available App  Start-->
      <div class="available-app-area">
        <div class="container">
          <div class="row d-flex justify-content-between">
            <div class="col-xl-5 col-lg-6">
              <div class="app-caption">
                <div class="section-tittle section-tittle3">
                  <h2>Our App Available For Any Device Download now</h2>
                  <p>
                    Duis aute irure dolor in reprehenderit in voluptate velit
                    esse cillum dolore fug.
                  </p>
                  <div class="app-btn">
                    <a href="#" class="app-btn1"
                      ><img src="/static/assets/img/shape/app_btn1.png" alt=""
                    /></a>
                    <a href="#" class="app-btn2"
                      ><img src="/static/assets/img/shape/app_btn2.png" alt=""
                    /></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6">
              <div class="app-img">
                <img src="/static/assets/img/shape/available-app.png" alt="" />
              </div>
            </div>
          </div>
        </div>
        <!-- Shape -->
        <div class="app-shape">
          <img
            src="/static/assets/img/shape/app-shape-top.png"
            alt=""
            class="app-shape-top heartbeat d-none d-lg-block"
          />
          <img
            src="/static/assets/img/shape/app-shape-left.png"
            alt=""
            class="app-shape-left d-none d-xl-block"
          />
          <!-- <img src="/static/assets/img/shape/app-shape-right.png" alt="" class="app-shape-right bounce-animate "> -->
        </div>
      </div>
      <!-- Available App End-->

      <!-- Say Something Start -->
      <div class="say-something-aera pt-90 pb-90 fix">
        <div class="container">
          <div class="row justify-content-between align-items-center">
            <div class="offset-xl-1 offset-lg-1 col-xl-5 col-lg-5">
              <div class="say-something-cap">
                <h2>Say Hello To The Collaboration Hub.</h2>
              </div>
            </div>
            <div class="col-xl-2 col-lg-3">
              <div class="say-btn">
                <a href="#" class="btn radius-btn">Contact Us</a>
              </div>
            </div>
          </div>
        </div>
        <!-- shape -->
        <div class="say-shape">
          <img
            src="/static/assets/img/shape/say-shape-left.png"
            alt=""
            class="say-shape1 rotateme d-none d-xl-block"
          />
          <img
            src="/static/assets/img/shape/say-shape-right.png"
            alt=""
            class="say-shape2 d-none d-lg-block"
          />
        </div>
      </div>
      <!-- Say Something End -->
    </main>
    <%- include("footer") -%>
  </body>
</html>
