<!DOCTYPE html>

<head>
  <!-- Google Tag Manager -->


  <!-- If using GTM, insert script tag here -->
  

  <!-- End Google Tag Manager -->

  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>App Landing Template</title>
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- <link rel="manifest" href="site.webmanifest"> -->
  <link rel="shortcut icon" type="image/x-icon" href="/static/assets/img/favicon.ico" />
  <!-- Place favicon.ico in the root directory -->

  <!-- CSS here -->
  <link rel="stylesheet" href="/static/assets/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/static/assets/css/owl.carousel.min.css" />
  <link rel="stylesheet" href="/static/assets/css/slicknav.css" />
  <link rel="stylesheet" href="/static/assets/css/animate.min.css" />
  <link rel="stylesheet" href="/static/assets/css/magnific-popup.css" />
  <link rel="stylesheet" href="/static/assets/css/fontawesome-all.min.css" />
  <link rel="stylesheet" href="/static/assets/css/themify-icons.css" />
  <link rel="stylesheet" href="/static/assets/css/themify-icons.css" />
  <link rel="stylesheet" href="/static/assets/css/slick.css" />
  <link rel="stylesheet" href="/static/assets/css/nice-select.css" />
  <link rel="stylesheet" href="/static/assets/css/style.css" />
  <link rel="stylesheet" href="/static/assets/css/responsive.css" />



  <!-- INSERT TOUCHPOINT SCRIPTS HERE -->
   
</head>