<%- include('header') -%>
  <body>
    <%- include('tag-manager') -%>
    <%- include('nav') -%>
    <main>
      <!-- Best Pricing Start -->
      <section class="best-pricing best-pricing2 pricing-padding2">
        <div class="container">
          <!-- Section Tittle -->
          <div class="row d-flex justify-content-center">
            <div class="col-lg-6 col-md-8">
              <div class="section-tittle text-center">
                <h2>Choose Your Very Best Pricing Plan.</h2>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Best Pricing End -->
      <!-- Pricing Card Start -->
      <div class="pricing-card-area">
        <div class="container">
          <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6">
              <div class="single-card text-center mb-30">
                <div class="card-top">
                  <span>2 Years</span>
                  <h4>$05 <span>/ month</span></h4>
                </div>
                <div class="card-bottom">
                  <ul>
                    <li>Increase traffic 50%</li>
                    <li>E-mail support</li>
                    <li>10 Free Optimization</li>
                    <li>24/7 support</li>
                  </ul>
                  <a href="/services" class="btn card-btn1">Get Started</a>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
              <div class="single-card text-center mb-30">
                <div class="card-top">
                  <span>2 Years</span>
                  <h4>$05 <span>/ month</span></h4>
                </div>
                <div class="card-bottom">
                  <ul>
                    <li>Increase traffic 50%</li>
                    <li>E-mail support</li>
                    <li>10 Free Optimization</li>
                    <li>24/7 support</li>
                  </ul>
                  <a href="#" class="btn card-btn1">Get Started</a>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
              <div class="single-card text-center mb-30">
                <div class="card-top">
                  <span>2 Years</span>
                  <h4>$05 <span>/ month</span></h4>
                </div>
                <div class="card-bottom">
                  <ul>
                    <li>Increase traffic 50%</li>
                    <li>E-mail support</li>
                    <li>10 Free Optimization</li>
                    <li>24/7 support</li>
                  </ul>
                  <a href="#" class="btn card-btn1">Get Started</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Pricing Card End -->
      <!-- Available App  Start-->
      <div class="available-app-area mt-50">
        <div class="container">
          <div class="row d-flex justify-content-between">
            <div class="col-xl-5 col-lg-6">
              <div class="app-caption">
                <div class="section-tittle section-tittle3">
                  <h2>Our App Available For Any Device Download now</h2>
                  <p>
                    Duis aute irure dolor in reprehenderit in voluptate velit
                    esse cillum dolore fug.
                  </p>
                  <div class="app-btn">
                    <a href="#" class="app-btn1"
                      ><img src="/static/assets/img/shape/app_btn1.png" alt=""
                    /></a>
                    <a href="#" class="app-btn2"
                      ><img src="/static/assets/img/shape/app_btn2.png" alt=""
                    /></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6">
              <div class="app-img">
                <img src="/static/assets/img/shape/available-app.png" alt="" />
              </div>
            </div>
          </div>
        </div>
        <!-- Shape -->
        <div class="app-shape">
          <img
            src="/static/assets/img/shape/app-shape-top.png"
            alt=""
            class="app-shape-top heartbeat d-none d-lg-block"
          />
          <img
            src="/static/assets/img/shape/app-shape-left.png"
            alt=""
            class="app-shape-left d-none d-xl-block"
          />
          <!-- <img src="/static/assets/img/shape/app-shape-right.png" alt="" class="app-shape-right bounce-animate "> -->
        </div>
      </div>
      <!-- Available App End-->

      <!-- Say Something Start -->
      <div class="say-something-aera pt-90 pb-90 fix">
        <div class="container">
          <div class="row justify-content-between align-items-center">
            <div class="offset-xl-1 offset-lg-1 col-xl-5 col-lg-5">
              <div class="say-something-cap">
                <h2>Say Hello To The Collaboration Hub.</h2>
              </div>
            </div>
            <div class="col-xl-2 col-lg-3">
              <div class="say-btn">
                <a href="#" class="btn radius-btn">Contact Us</a>
              </div>
            </div>
          </div>
        </div>
        <!-- shape -->
        <div class="say-shape">
          <img
            src="/static/assets/img/shape/say-shape-left.png"
            alt=""
            class="say-shape1 rotateme d-none d-xl-block"
          />
          <img
            src="/static/assets/img/shape/say-shape-right.png"
            alt=""
            class="say-shape2 d-none d-lg-block"
          />
        </div>
      </div>
      <!-- Say Something End -->
    </main>
    <%- include("footer") -%>
  </body>
</html>
